body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: orange;
}
.green, .greenItem {
  color: green;
}
.purple, .redItem {
  color: purple;
}
.orangeItem {
  color: orange;
}

.wrapper {
  max-width: 395px;
  min-height: 820px;
  margin: 50px auto;
  background-image: url('../images/phone@2x.png');
  background-size: 395px 820px;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);

  &__page {
    position: absolute;
    top: 104px;
    left: 30px;
    z-index: 0;
    width: 333px;
    height: 600px;
    border: 4px solid #22272d;
    background-color: white;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    overflow-y: scroll;
  }

  &__content {
    width: 325px;
    position: absolute;
    top: 44px;
    margin-bottom: 50px;
  }

  .homePage {
    transform: translateY(50%);
    &__raffle {
      margin: 45px 0;
    }
  }

  .homeLottoPage{
    &__lastResult {
      position: absolute;
      top: 5px;
      right: 10px;
      .toggle .handle {
        width: 18px;
        height: 19px;
        top: 8px;
        left: 5px;
      }
      .toggle .track {
        width: 40px;
        height: 25px;
      }
    }
  }
}

.active {
  color: #23527c !important;
}

.fixed {
  position: fixed;
  bottom: 120px;
  width: 82%;
}

.fixed-top {
  position: fixed !important;
    top: 108px !important;
}

::-webkit-scrollbar {
    display: none;
}
