<template>
  <div class="card">
    <div class="item item-divider">
      <h3>Most Repeated</h3>
      <span class="homeLottoPage__mostRepeated">
        <span class="homeLottoPage__mostRepeated--text">${showHideString}</span>
        <label class="toggle toggle-positive">
          <input
            checked.bind="toggleMostRepeated"
            type="checkbox"
            change.delegate="isToggleMostRepeated(toggleMostRepeated)"
          >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </span>
    </div>
    <div class="item ${toggleMostRepeated ? 'isExpanded' : 'isCollapsed'}">
      <ul class="homeLottoPage__list homeLottoPage__cardBalls">
        <li class="homeLottoPage__item" repeat.for="combi of mostRepeated">
          <section class="homeLottoPage__stage">
            <figure class="homeLottoPage__ball homeLottoPage__ball--unactive">
            </figure>
          </section>
          <span class="homeLottoPage__cardBalls--combi">${combi}</span>
        </li>
      </ul>
    </div>
  </div>
</template>
