{
  "parser": "babel-eslint",
  "plugins": [ "mocha" ],
  "extends": "airbnb-base",
  "rules": {
    "indent": [2],
    "comma-dangle": [2, "never"],
    "space-in-parens": [2, "always", { "exceptions": ["()","{}","[]"] } ],
    "computed-property-spacing": [2, "always"],
    "no-param-reassign": 2,
    new-cap: ["error", { "properties": false }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "angular": 1
  }
}
