<template bindable="innerCombi">
  <div class="card homeLottoPage__cardBalls">
    <div class="item item-divider">
      <h3>Your numbers</h3>
    </div>
    <div class="item item-body">
      <ul class="homeLottoPage__list">
        <li class="homeLottoPage__item" repeat.for="combi of innerCombi">
          <section class="homeLottoPage__stage">
            <figure class="homeLottoPage__ball homeLottoPage__ball--unactive">
            </figure>
          </section>
          <span class="homeLottoPage__cardBalls--combi">${combi}</span>
        </li>
      </ul>
    </div>
  </div>

</template>
