body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.green, .greenItem {
  color: green;
}
.purple, .redItem {
  color: purple;
}
.orangeItem {
  color: orange;
}

.active {
  color: #23527c !important;
}

.fixed {
  position: fixed;
  bottom: 120px;
  width: 82%;
  z-index: 5;
}

.fixed-top {
  position: fixed !important;
    top: 108px !important;
}

::-webkit-scrollbar {
    display: none;
}


input[type="checkbox"] {
  visibility: hidden;
}
