.homeLottoPage {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  &__item {
    display: inline-block;
    position: relative;
    margin: 0 auto;

    &:last-child {
      margin-left: 0;
    }

    &--label {
      position: absolute;
      color: white;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
    }

    &--number {
      font-size: 16px;
      position: relative;
      top: 6px;
      left: 9px;
    }
  }

  // overwriting ionic
  .item .badge {
    right: 10px;
  }
  .item-note {
    margin-right: 30px
  }

  .button-bar {
    padding: 10px;
  }
}
